fastapi==0.110.1
uvicorn[standard]==0.29.0
pydantic-settings==2.1.0
sqlalchemy==2.0.30
psycopg2-binary
alembic==1.13.1
python-dotenv==1.0.1
requests
celery
redis
packaging
langchain==0.1.16
langchain-core==0.1.46
langchain-community>=0.0.32,<0.1
langgraph==0.0.20
sentence-transformers
scikit-learn
hdbscan
asyncpg==0.30.0